<div class="flex flex-row">

  <div class="flex flex-col gap-4 p-6" *ngFor="let deck of allDecks; let i = index">

    <span class="font-bold text-xl"> {{deck.name || 'Baralho sem nome'}} </span>

    <div class="relative" (mouseenter)="onHover(deck)" (mouseleave)="onHover(deck)">
      <img class="w-64 hover:opacity-40 hover:backdrop-blur-10" src="../../../../../assets/upside-down-card.jpg">

      <div *ngIf="currentIndex === i && isHovering" class="absolute top-0 left-0">
        <button mat-raised-button color="primary" (click)="updateDeck(deck.id)">Editar</button>
      </div>

      <div *ngIf="currentIndex === i && isHovering" class="absolute top-10 right-0">
        <button mat-raised-button color="accent" [routerLink]="['/decks/details', deck.id]">Detalhes</button>
      </div>

      <div *ngIf="currentIndex === i && isHovering" class="absolute top-0 right-0">
        <button mat-raised-button color="warn" (click)="removeDeck(deck.id)">Excluir</button>
      </div>
    </div>
  </div>
</div>
