<div [formGroup]="filterForm" class="min-h-screen mt-4">
  <div class="flex flex-row justify-between">
    <div class="flex flex-row gap-4 md:max-w-md lg:max-w-4xl">
      <mat-form-field class="pl-6" appearance="fill">
        <input matInput formControlName="name" placeholder="Filtre por nome">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select formControlName="pageSize" placeholder="Tamanho da página">
          <mat-option *ngFor="let size of pageSizes" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button class="btn-size" mat-raised-button color="primary" (click)="getCards()"> Pesquisar</button>

    </div>

    <span class="text-white self-center">Quantidade de cartas adicionadas: {{choosenCards.length}} </span>
    <div class="flex flex-row gap-6">
      <mat-form-field appearance="fill">

        <input matInput [formControl]="deckName" placeholder="Insira o nome aqui">
      </mat-form-field>
    </div>
  </div>
  <div class="flex flex-row gap-6 pl-6">
    <div class="grid grid-cols-3 gap-6 p-6 w-1/2 max-h-[550px] overflow-auto bg-gray-800" cdkDropList
      #todoList="cdkDropList" [cdkDropListData]="availableCards" [cdkDropListConnectedTo]="[doneList]"
      (cdkDropListDropped)="drop($event)">

      <app-no-data class="col-start-2" *ngIf="!isLoading && availableCards.length === 0"
        [message]="'Ops... não achei nada'"></app-no-data>

      <app-loading class="col-start-2" *ngIf="isLoading" [message]="'Carregando...'"> </app-loading>

      <ng-container *ngIf="!isLoading">
        <div *ngFor="let item of availableCards" cdkDrag>
          <img [src]="item.images.small">
        </div>
      </ng-container>
    </div>

    <div [ngClass]="{'error-container': !isValidDeck()}" cdkDropList #doneList="cdkDropList"
      [cdkDropListData]="choosenCards" [cdkDropListConnectedTo]="[todoList]"
      class="grid grid-cols-3 gap-6 p-6 w-1/2 max-h-[550px] overflow-auto bg-gray-800"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of choosenCards" cdkDrag><img [src]="item.images.small"></div>
    </div>
  </div>

  <div class="pt-6 flex flex-row items-end justify-end">
    <button  class="w-48 smaller-btn" mat-raised-button (click)="saveDeck()"
      [disabled]="!isValidDeck() || !deckName.value" color="primary">
      {{this.isEditing ? 'Editar' : 'Cadastrar'}}
    </button>
  </div>
</div>
